<div class='container m-4'>
  <lexi [mood]='"PROUD"'
        [message]='"Ова се тестови со рима. Одбери еден тест од листата долу за да можеш да вежбаш"'></lexi>
  <div class='instructions'>
    <button type='button' class='btn btn-color instructions-btn' (click)='openInstructions()'>Инструкции</button>
  </div>
  <br>
  <div class='align-content-center'>
    <div *ngFor='let test of allTests' class='test' (click)='openTest(test.id)'>
      <div>
        {{test.name}}
      </div>

    </div>

  </div>
</div>
