//variables
$bg-color: #F1FFE6;
$frog-color: #A3D768;
$frog-dark-color: #3F6A34;
$light-color: #fff;
$pink-color: #F7D2C9;
$dark-pink-color: #C71F1C;
$tear-bg: #5cfee9;

//mixins
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

* {
  padding: 0px;
  margin: 0px;
}

/* common styles !!!YOU DON'T NEED THEM */

body {
  background-color: $bg-color;
}

.container {
  width: 950px;
  margin: 70px auto 0px auto;
  text-align: center;

  h1 {
    font: {
      family: 'Slabo 27px', serif;
      size: 35px;
    }
    color: #2d4427;
    margin-bottom: 50px;

    span {
      position: relative;
      font: {
        family: 'Gloria Hallelujah', cursive;
      }

      &:before {
        content: "^";
        @include position-absolute($top: 10px, $right: 40px)
      }

      &:after {
        content: "^";
        @include position-absolute($top: 10px, $right: 22px)
      }
    }
  }

  .emoji-container {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 60%;

    .icon {
      margin-right: 40px;
      margin-bottom: 40px;

      &:nth-child(6n) {
        margin-right: 0px;
      }
    }
  }
}

/* icon main styles !!!YOU NEED THEM */

.icon {
  margin-top: 2em;
  width: 125px;
  height: 120px;
  position: relative;

  //frog styles
  .frog {
    @include position-absolute($top: 0, $left: 0);
    width: 100%;
    height: 100%;

    //frog body
    .body {
      width: 110px;
      height: 86px;
      background-color: $frog-color;
      border-radius: 50%;
      @include position-absolute($top: 25px, $right: 0, $left: 0);
      margin: auto;
      box-shadow: 4px 4px 0px 0px rgba($frog-color,0.3);

      .mouth {
        margin: auto;
      }

      .big-mouth {
        width: 30px;
        height: 20px;
        border-radius: 0 0 50% 50%;
        box-shadow: 2px 2px 0px 0px rgba($frog-dark-color,0.3);
      }

      .blush {
        width: 75px;
        height: 9px;
        @include position-absolute($top: 20px, $right: 0, $left: 0);
        margin: auto;

        &:before,
        &:after {
          content: "";
          display: block;
          width: 12px;
          height: 100%;
          background-color: $pink-color;
          border-radius: 50%;
        }

        &:before {
          @include position-absolute($top: 0, $left: 0);
        }

        &:after {
          @include position-absolute($top: 0, $right: 0);
        }
      }
    }

    //frog eyes
    .eyes {
      width: 86px;
      height: 35px;
      @include position-absolute($top: 8px, $right: 0, $left: 0);
      margin: auto;

      .eye {
        width: 35px;
        height: 35px;

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: $frog-color;
          border-radius: 50%;
        }

        &.wink {

          $wink-width: 17px;

          .eye-inner {
            background-color: transparent;
            width: $wink-width;
            height: 3px;
            background-color: $frog-dark-color;
            border-radius: 0;
            @include position-absolute($top: 15px, $left: 0, $right: 0);
            margin: auto;
            transform: rotate(21deg);

            &:before,
            &:after {
              content: '';
              display: block;
              width: $wink-width;
              height: 3px;
              background-color: $frog-dark-color;
            }

            &:before {
              transform: rotate(25deg);
              @include position-absolute($top: -4px, $left: 0);
            }

            &:after {
              transform: rotate(-25deg);
              @include position-absolute($top: 4px, $left: 0);
            }
          }

          .pupil {
            display: none;
          }
        }

        &.extra-light {

          .light {
            width: 40%;
            height: 40%;

            &:before {
              content: "";
              display: block;
              width: 70%;
              height: 70%;
              background-color: $light-color;
              border-radius: 50%;
            }
          }
        }

        .eye-inner {
          background-color: $light-color;
          width: 80%;
          height: 80%;
          @include position-absolute($top: 10%, $left: 10%);
          border-radius: 50%;

          .pupil {
            background-color: $frog-dark-color;
            width: 60%;
            height: 60%;
            @include position-absolute($top: 20%, $left: 20%);
            border-radius: 50%;

            .light {
              background-color: $light-color;
              width: 50%;
              height: 50%;
              @include position-absolute($top: 10%, $left: 10%);
              border-radius: 50%;
            }
          }
        }

        &-left {
          @include position-absolute($top: 0px, $left: 0);
        }

        &-right {
          @include position-absolute($top: 0px, $right: 0);
        }
      }
    }
  }
}

/* icon-1 styles */

.frog#frog-1 {

  .body {

    .mouth {
      @keyframes smile {
        0% {
          border-radius: 0%;
        }

        20% {
          border-radius: 50%;
        }

        70% {
          border-radius: 50%;
        }
      }

      width: 18px;
      height: 22px;
      border-bottom: 3px solid $frog-dark-color;
      @include position-absolute($top: 6px, $right: 0, $left: 0);
      animation: smile 3.8s linear 0s infinite;
    }
  }
}

/* icon-2 styles */

.frog#frog-2 {

  .mouth {
    background-color: $light-color;
    @include position-absolute($top: 30px, $right: 0, $left: 0);
  }

  .eye-inner {
    $rotate-angle: 45deg;

    @keyframes hearts {
      0% {
        transform: scale(0.7);
      }

      100% {
        transform: scale(1);
      }
    }

    top: 17%;
    background-color: transparent !important;
    animation: hearts 0.6s linear 0s infinite alternate;

    &:before,
    &:after {
      content: "";
      display: block;
      height: 70%;
      width: 40%;
      background-color: $dark-pink-color;
      border-radius: 50% 50% 0 0 ;
    }

    &:before {
      @include position-absolute($top: 0, $left: 5px);
      transform: rotate(-$rotate-angle);
    }

    &:after {
      @include position-absolute($top: 0, $right: 5px);
      transform: rotate($rotate-angle);
    }

    .pupil {
      display: none;
    }
  }
}

/* icon-3 styles */

.frog#frog-3 {

  .eye-right {

    .light {
      @include position-absolute($top: 10%, $right: 10%, $left: auto);
    }
  }

  .mouth {
    width: 25px;
    height: 25px;
    @include position-absolute($top: 5px, $right: 0, $left: 0);
    transform: rotate(23deg);

    &:before {
      content: "";
      display: block;
      border-bottom: 3px solid $frog-dark-color;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $frog-color;
      z-index: 3;
      @include position-absolute($top: 0px, $left: 0);
    }
  }

  .toungue {
    @keyframes toungue {
      0% {
        transform: scale(1,1);
      }

      40% {
        transform: scale(1,1);
      }

      75% {
        transform: scale(1,0);
      }
    }

    width: 16px;
    height: 20px;
    background-color: $dark-pink-color;
    border-radius: 30px;
    z-index: 2;
    @include position-absolute($top: 17px, $left: 4px);
    transform-origin: center top;
    animation: toungue 2.0s linear 0s infinite;

    &:before {
      content: "";
      display: block;
      width: 2px;
      height: 4px;
      background-color: darken($dark-pink-color, 30%);
      @include position-absolute($bottom: 5px, $left: 0px, $right: 0px);
      margin: auto;
      opacity: 0.4;
    }
  }
}

/* icon-4 styles */
.frog#frog-4 {

  .eye {

    .light {
      @include position-absolute($top: 9px, $left: 0px);

      &:before {
        @include position-absolute($top: -5px, $left: 0px);
      }
    }
  }

  .mouth {
    @keyframes laugh {

      0% {
        transform: scale(1,0);
      }

      30% {
        transform: scale(1,1);
      }

      40% {
        transform: scale(1,0.6);
      }

      50% {
        transform: scale(1,1);
      }

      60% {
        transform: scale(1,0.6);
      }

      70% {
        transform: scale(1,1);
      }
    }

    @include position-absolute($top: 20px, $right: 0, $left: 0);
    background-color: lighten($dark-pink-color, 25%);
    overflow: hidden;
    transform-origin: center top;
    animation: laugh 1.9s linear 0s infinite;

    .toungue {
      width: 17px;
      height: 17px;
      background-color: $dark-pink-color;
      border-radius: 20px;
      @include position-absolute($top: 9px, $left: 3);
      transform: rotate(20deg);
    }
  }
}

/* icon-5 styles */

.frog#frog-5 {

  @keyframes eyes-1 {

    0% {
      transform: scale(1,1);
      opacity: 1;
    }

    20% {
      transform: scale(0,0);
      opacity: 0;
    }

    70% {
      transform: scale(0,0);
      opacity: 0;
    }

    80% {
      transform: scale(1,1);
      opacity: 1;
    }
  }

  @keyframes eyes-2 {
    0% {
      opacity: 0;
      @include position-absolute($top: 40%, $left: 20%);
    }

    28% {
      opacity: 1;
      @include position-absolute($top: 20%, $left: 20%);
    }

    70% {
      opacity: 1;
      @include position-absolute($top: 20%, $left: 20%);
    }

    78% {
      opacity: 0;
      @include position-absolute($top: 40%, $left: 20%);
    }
  }

  @keyframes blush {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }
  }

  .eye {

    &:after {
      content: "";
      display: block;
      width: 60%;
      height: 60%;
      border-top: 3px solid $frog-dark-color;
      border-radius: 50%;
      @include position-absolute($top: 40%, $left: 20%);
      opacity: 0;
      animation: eyes-2 2.8s linear 0s infinite;
    }

    .eye-inner {
      transform-origin: center center;
      animation: eyes-1 2.8s linear 0s infinite;
    }
  }

  .blush {
    opacity: 0;
    animation: blush 2.8s linear 0s infinite;
  }

  .mouth {
    width: 26px;
    height: 26px;
    border-bottom: 10px solid $light-color;
    border-radius: 20px;
  }
}

/* icon-6 styles */

.frog#frog-6 {

  @keyframes eyes-big-light {

    0% {
      @include position-absolute($top: 10%, $left: 10%, $right: auto, $bottom: auto);
    }

    20% {
      @include position-absolute($top: auto, $left: auto, $right: 10%, $bottom: 10%);
    }

    70% {
      @include position-absolute($top: auto, $left: auto, $right: 10%, $bottom: 10%);
    }

    80% {
      @include position-absolute($top: 10%, $left: 10%, $right: auto, $bottom: auto);
    }
  }

  @keyframes eyes-small-light {

    0% {
      opacity: 0;
    }

    23% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    75% {
      opacity: 0;
    }
  }

  @keyframes blush {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }
  }

  .eye {

    .light {
      animation: eyes-big-light 2.8s linear 0s infinite;

      &:before {
        @include position-absolute($top: -5px, $left: 5px);
        opacity: 0;
        animation: eyes-small-light 2.8s linear 0s infinite;
      }
    }
  }

  .blush {
    opacity: 0;
    animation: blush 2.8s linear 0s infinite;
  }

  .mouth {
    width: 16px;
    height: 16px;
    border-bottom: 10px solid $light-color;
    border-radius: 20px;
  }
}

/* icon-7 styles */

.frog#frog-7 {

  .eye {

    @keyframes eye-animation {

      0% {
        @include position-absolute($top: 5px, $left: auto, $right: 3px);
      }

      25% {
        @include position-absolute($top: 0px, $left: 0, $right: 0);
        margin: auto;
      }

      50% {
        @include position-absolute($top: 5px, $left: 3px, $right: auto);
      }

      75% {
        @include position-absolute($top: 0px, $left: 0, $right: 0);
        margin: auto;
      }
    }

    .pupil {
      width: 40%;
      height: 40%;
      @include position-absolute($top: 5px, $left: auto, $right: 3px);
      animation: eye-animation 3.6s linear 0s infinite;

      .light {
        width: 5px;
        height: 5px;
        @include position-absolute($top: 2px, $left: auto, $right: 0px);
      }
    }
  }

  .mouth {
    width: 16px;
    height: 3px;
    background-color: $frog-dark-color;
    @include position-absolute($top: 20px, $left: 0px, $right: 0px);
    border-radius: 5px;
  }
}

/* icon-8 styles */

.frog#frog-8 {

  .eye {

    &:after {
      content: "";
      display: block;
      width: 60%;
      height: 60%;
      border-bottom: 3px solid $frog-dark-color;
      border-radius: 50%;
      @include position-absolute($top: 0, $left: 20%);
    }

    &-left {

      &:after {
        transform: rotate(-12deg);
      }
    }

    &-right {

      &:after {
        transform: rotate(12deg);
      }
    }

    &-inner {
      display: none;
    }
  }

  @keyframes mouth {

    0% {
      transform: scale(0.7);
    }

    60% {
      transform: scale(1);
    }
  }

  .mouth {
    height: 21px;
    width: 14px;
    background-color: $light-color;
    border-radius: 50%;
    box-shadow: 2px 2px 0px 0px rgba($frog-dark-color,0.3);
    @include position-absolute($top: 16px, $left: 0px, $right: 0px);
    transform: scale(0.7);
    transform-origin: center top;
    animation: mouth 2s linear 0s infinite;
  }

  .sleepy-icons {
    @keyframes sleepy-icons {

      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    width: 34px;
    height: 50px;
    @include position-absolute($top: 0px, $left: 0px);
    z-index: 10;
    color: $frog-dark-color;
    font: {
      weight: bold;
    }

    div {
      text-shadow: 2px 2px 0px rgba($frog-dark-color,0.3);
      transform: rotate(-15deg);
      opacity: 0;

      &:nth-child(1) {
        @include position-absolute($top: 5px, $left: 10px);
        font-size: 16px;
        animation: sleepy-icons 1s linear 0s infinite alternate;
      }

      &:nth-child(2) {
        @include position-absolute($top: -6px, $left: -6px);
        font-size: 12px;
        animation: sleepy-icons 1s linear 0.5s infinite alternate;
      }

      &:nth-child(3) {
        @include position-absolute($top: -30px, $left: -10px);
        font-size: 19px;
        animation: sleepy-icons 1s linear 1s infinite alternate;
      }
    }
  }
}

/* icon-9 styles */

.frog#frog-9 {

  @keyframes color-animation {
    0% {
      background-color: $frog-color;
    }

    30% {
      background-color: $frog-dark-color;
    }

    70% {
      background-color: $frog-dark-color;
    }

    80% {
      background-color: $frog-color;
    }
  }

  @keyframes color-animation-2 {
    0% {
      border-color: $frog-dark-color;
    }

    30% {
      border-color: darken($frog-dark-color,20%);
    }

    70% {
      border-color: darken($frog-dark-color,20%);
    }

    80% {
      border-color: $frog-dark-color;
    }
  }

  @keyframes color-animation-3 {
    0% {
      background-color: $frog-dark-color;
    }

    30% {
      background-color: darken($frog-dark-color,10%);
    }

    70% {
      background-color: darken($frog-dark-color,10%);
    }

    80% {
      background-color: $frog-dark-color;
    }
  }

  .body,
  .eye:before {
    animation: color-animation 2.5s linear 0s infinite;
  }

  .eye:after {
    animation: color-animation 2.5s linear 0s infinite, color-animation-2 2.5s linear 0s infinite;
  }

  .mouth {
    animation: color-animation-2 2.5s linear 0s infinite;
  }

  .mouth:before,
  .mouth:after {
    animation: color-animation-3 2.5s linear 0s infinite;
  }

  .blush {

    &:before,
    &:after {
      background-color: $frog-color;
    }
  }

  .eye {

    .eye-inner {
      width: 60%;
      height: 60%;
    }

    &:after {
      content: "";
      display: block;
      background-color: $frog-color;
      width: 20px;
      height: 10px;
      border-radius: 30px;
      border-bottom: 2px solid $frog-dark-color;
    }

    &-left {

      .eye-inner {
        @include position-absolute($top: 20%, $left: 30%);
      }

      &:after {
        @include position-absolute($top: 18%, $left: 28%);
        transform: rotate(-15deg);
      }
    }

    &-right {

      .eye-inner {
        @include position-absolute($top: 20%, $left: 15%);
      }

      &:after {
        @include position-absolute($top: 18%, $left: 20%);
        transform: rotate(15deg);
      }
    }
  }

  .mouth {
    width: 20px;
    height: 10px;
    border-top: 3px solid $frog-dark-color;
    border-radius: 50%;
    @include position-absolute($top: 20px, $left: 0, $right: 0);

    &:before,
    &:after {
      content: "";
      display: block;
      width: 2px;
      height: 6px;
      background-color: $frog-dark-color;
    }

    &:before {
      @include position-absolute($top: -3px, $left: 0);
      transform: rotate(-8deg);
    }

    &:after {
      @include position-absolute($top: -3px, $right: 0);
      transform: rotate(8deg);
    }
  }
}

/* icon-10 styles */

.frog#frog-10 {

  .eye {

    .eye-inner {
      background: transparent;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 3px;
        height: 15px;
        background-color: darken($frog-dark-color,50%);
        @include position-absolute($top: 5px, $left: 0, $right: 0);
        margin: auto;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }

      .pupil {
        display: none;
      }
    }
  }

  .mouth {
    @keyframes mouth-2 {

      0% {
        transform: scale(0);
        opacity: 0;
      }

      60% {
        transform: scale(1);
        opacity: 1;
      }
    }

    height: 21px;
    width: 20px;
    background-color: $frog-dark-color;
    border-radius: 50%;
    @include position-absolute($top: 16px, $left: 0px, $right: 0px);
    transform-origin: center center;
    animation: mouth-2 2s linear 0s infinite alternate;
  }
}

/* icon-11 styles */

.frog#frog-11 {

  .eye {

    &:after {
      content: "";
      display: block;
      width: 50%;
      height: 50%;
      border-bottom: 3px solid $frog-dark-color;
      border-radius: 50%;
      @include position-absolute($top: 0px, $left: 0px, $right: 0px);
      margin: auto;
    }

    .eye-inner {
      display: none;
    }
  }

  .mouth {
    width: 20px;
    height: 20px;
    border-top: 2px solid $frog-dark-color;
    border-radius: 50%;
    @include position-absolute($top: 16px, $left: 0px, $right: 0px);
  }

  .tear {
    @keyframes tear {
      0% {
        top: 6px;
        transform: scale(0.4) rotate(45deg);
      }

      100% {
        top: 85%;
        transform: scale(1) rotate(45deg);
      }
    }

    width: 20px;
    height: 20px;
    background-color: lighten($tear-bg,10%);
    border-radius: 0px 50% 50% 50%;
    @include position-absolute($top: 6px, $left: 16px);
    z-index: 10;
    animation: tear 1.8s linear 0s infinite;

    &:before {
      content: "";
      display: block;
      width: 90%;
      height: 90%;
      background-color: darken($tear-bg,20%);
      border-radius: 0px 50% 50% 50%;
      @include position-absolute($top: 0px, $left: 0px);
    }
  }
}

/* icon-12 styles */

.frog#frog-12 {
  @keyframes angry-frog-bg {

    0% {
      background-color: $frog-color;
    }

    30% {
      background-color: lighten($dark-pink-color, 25%);;
    }

    70% {
      background-color: lighten($dark-pink-color, 25%);;
    }

    80% {
      background-color: $frog-color;
    }
  }

  @keyframes angry-eyes {
    0% {
      transform: scale(1);
    }

    30% {
      transform: scale(0.6);
    }

    70% {
      transform: scale(0.6);
    }

    80% {
      transform: scale(1);
    }
  }

  @keyframes angry-brows-mouth {
    0% {
      opacity: 0;
    }

    37% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    77% {
      opacity: 0;
    }
  }

  .body,
  .eye:before{
    animation: angry-frog-bg 2.8s linear 0s infinite;
  }

  .eye-inner {
    animation: angry-eyes 2.8s linear 0s infinite;
  }

  .eye {

    &:after {
      content: "";
      display: block;
      width: 13px;
      height: 3px;
      background-color: $dark-pink-color;
      @include position-absolute($top: 5px, $left: 0, $right: 0);
      margin: auto;
      animation: angry-brows-mouth 2.8s linear 0s infinite;
      opacity: 0;
    }

    &-left {

      &:after {
        transform: rotate(10deg);
      }
    }

    &-right {

      &:after {
        transform: rotate(-10deg);
      }
    }
  }

  .mouth {
    width: 18px;
    height: 8px;
    border-top: 3px solid $dark-pink-color;
    @include position-absolute($top: 16px, $left: 0, $right: 0);
    border-radius: 50%;
    transform: rotate(32deg);
    opacity: 0;
    animation: angry-brows-mouth 2.8s linear 0s infinite;
  }
}