<!--Source code for the base of this component downloaded from:
https://gist.github.com/maxbizbd/fb8619af8d3020fc6a99ecbeb493946e (open source licence)-->
<div class="container">
  <div class="emoji-container">

    <!--NEUTRAL-->
    <div class="icon" *ngIf='mood == "NEUTRAL"'>
      <div class="frog" id="frog-1">

        <div class="body">
          <div class="mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--HEART EYES-->
    <div class="icon" *ngIf='mood == "HEART_EYES"'>
      <div class="frog" id="frog-2">

        <div class="body">
          <div class="blush"></div>
          <div class="mouth big-mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--WINK-->
    <div class="icon" *ngIf='mood == "WINK"'>
      <div class="frog" id="frog-3">

        <div class="body">
          <div class="mouth">
            <div class="toungue"></div>
          </div>
        </div>

        <div class="eyes">
          <div class="eye eye-left wink">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--BIG SMILE-->
    <div class="icon" *ngIf='mood == "BIG_SMILE"'>
      <div class="frog" id="frog-4">

        <div class="body">
          <div class="mouth big-mouth">
            <div class="toungue"></div>
          </div>
        </div>

        <div class="eyes">
          <div class="eye eye-left extra-light">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right extra-light">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--SATISFIED-->
    <div class="icon" *ngIf='mood == "SATISFIED"'>
      <div class="frog" id="frog-5">

        <div class="body">
          <div class="blush"></div>
          <div class="mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--PROUD-->
    <div class="icon" *ngIf='mood == "PROUD"'>
      <div class="frog" id="frog-6">

        <div class="body">
          <div class="blush"></div>
          <div class="mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left extra-light">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right extra-light">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--BORED-->
    <div class="icon" *ngIf='mood == "BORED"'>
      <div class="frog" id="frog-7">

        <div class="body">
          <div class="mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--SLEEPING-->
    <div class="icon" *ngIf='mood == "SLEEPING"'>
      <div class="frog" id="frog-8">

        <div class="body">
          <div class="mouth"></div>
          <div class="sleepy-icons">
            <div>Z</div>
            <div>Z</div>
            <div>Z</div>
          </div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--SICK-->
    <div class="icon" *ngIf='mood == "SICK"'>
      <div class="frog" id="frog-9">

        <div class="body">
          <div class="blush"></div>
          <div class="mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--CROSS EYED-->
    <div class="icon" *ngIf='mood == "CROSS_EYED"'>
      <div class="frog" id="frog-10">

        <div class="body">
          <div class="mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--CRYING-->
    <div class="icon" *ngIf='mood == "CRYING"'>
      <div class="frog" id="frog-11">

        <div class="body">
          <div class="tear"></div>
          <div class="mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ANGRY-->
    <div class="icon" *ngIf='mood == "ANGRY"'>
      <div class="frog" id="frog-12">

        <div class="body">
          <div class="mouth"></div>
        </div>

        <div class="eyes">
          <div class="eye eye-left">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="eye eye-right">
            <div class="eye-inner">
              <div class="pupil">
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <speech-bubble [message]='"Здраво, јас сум жабата Лекси! Добредојде на сајтот"'></speech-bubble>
  </div>

</div>