<div class='container'>
  <lexi [mood]='this.mood'
        [message]='this.message'>
  </lexi>
  <p>
    Дислексијата е специфичен вид на потешкотија во читањето. И покрај просечната и натпросечната интелигенција, некои
    деца кои имаат дислексија имаат проблеми да ги „декодираат“, односно читаат зборовите и да ги асоцираат со одредени
    звуци и комбинации од букви.
  </p>
  <p>
    Тие имаат проблем да ги препознаат честите зборови кои најчесто луѓето кои знаат да ги читаат ги препознаваат
    моментално. Децата со дислексија исто така имаат проблеми да научат како да спелуваат (кај јазиците кои немаат
    фонетска азбука, како на пример англискиот).
  </p>
  <p>
    Неодамнешни истражувања покажуваат дека има два главни ефекти на дислексијата. Прво, луѓето со дислексија имаат
    слаба свесност за фонемичност. Ова значи дека имаат потешкотии да ги слушаат разликите помеѓу одредени звуци, или
    фонеми, во азбуката на тој јазик. Тие исто така имаат проблеми да римуваат или да ги делат зборовите во индивидуални
    букви. Тие не можат да направат конекција помеѓу звуците и буквите, или комбинациите од буквите и целосните зборови.
    Кога читаат, на луѓето со дислексија им треба повеќе време отколку на другите луѓе да ги склопат засебните букви во
    зборови.
  </p>
  <br>
  <br>
  <p>
    <i>
      <a href='https://tocka.com.mk/vesti/107936/se-za-disleksijata-bolest-koja-predizvikuva-problemi-vo-citanjeto'>Извор</a>
    </i>
  </p>
</div>