.bubble {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: #a3d768;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  display:flex;
}

@media only screen and (max-width: 800px) {
  .bubble {
    width: 200px;
    font-size: 12px;
    line-height: 18px;
    padding: 18px;
  }
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}
