<html>
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <style>
    @font-face { font-family: "DyslexicFZF"; src: url('../assets/DyslexicFZF-Regular.ttf'); }
  </style>
</head>
<body>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Лекси Веб</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarNav">-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Features</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Pricing</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/home" routerLink="home" class="navbar-brand">Лекси Веб</a>
      <button class="navbar-toggler"
              type="button"
              (click)='openNavigation()'
              data-toggle="collapse"
              data-target="#navigationBar"
              aria-controls="navigationBar"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigationBar">
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
<!--          <li class="nav-item">-->
<!--            <a href="/home" class="nav-link" routerLink="home">Почетна</a>-->
<!--          </li>-->
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="/tests" class="nav-link" routerLink="tests">Вежбај</a>
          </li>
      <!--      <li class="nav-item">-->
      <!--        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>-->
      <!--      </li>-->
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/dyslexia" class="nav-link" routerLink="about-dyslexia">Што е дислексија?</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Регистрирација</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Најави се</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="about-dyslexia">Што е дислексија?</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a href="/profile" class="nav-link" routerLink="profile"><b>{{ username }}</b></a>-->
<!--          </li>-->
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">Одјави се</a>
          </li>
        </ul>
      </div>
  </nav>

<!--  <nav class="navbar navbar-expand-md bg-dark navbar-dark">-->
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <br>-->

  <div class="container">
    <router-outlet></router-outlet>

  </div>
</div>
</body>
</html>
